page-login {
  #titulo {
    font-style: arial;
    text-align: center;
    }
  #btn {
    border-radius: 7px;
    width: 100%;
    }
  #cab {

  }
  #corpo {


  }
  .wrapper {
  text-align: center;

  }

  #login {
    margin-top: auto;
  }

  #input{
    text-align: center;
    border-radius: 7px;
    border-width: medium;
    border-color: silver;
  }
}
