page-adoptForm {
  #titulo {
    font-style: arial;
    text-align: center;
    }
  #btn {
    border-radius: 7px;
    width: 100%;
    }

  .wrapper {
  text-align: center;

  }

}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}