page-contact {
  #fb{
    color: #586c9f;
    font-size: 400%;
    border-radius: 7px;
    margin-left: 45%;
  }
  #mail{
    font-size: 400%;
    border-radius: 7px;
    margin-left: 45%;
  }
  #logo{
    opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
  }
}
