page-animalData {
  #titulo {
    font-style: arial;
    text-align: center;
    }
  #btn {
    border-radius: 7px;
    width: 100%;
    }
  #cab {

  }
  #corpo {


  }
  .wrapper {
  text-align: center;

  }

  #login {
    margin-top: auto;
  }
  #nome{
    height: 6%;
    text-align: center;
    margin-top: 15%;
    margin-left: 7%;
    border-radius: 7px;
    border-width: medium;
    border-color: silver;
  }
  #cidade{
    height: 6%;
    text-align: center;
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 7px;
    border-width: medium;
    border-color: silver;
  }
  #telefone{
    height: 6%;
    text-align: center;
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 7px;
    border-width: medium;
    border-color: silver;
  }
  #email{
    height: 6%;
    text-align: center;
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 7px;
    border-width: medium;
    border-color: silver;
  }
}