page-home {
  #titulo {
    font-style: arial;
    text-align: center;
    }
  #btn {
    width: 50%;
    border-radius: 7px;
    position: absolute;
    top: 35%;
    left: 25%;
    }
  #cab {

  }
  #corpo {


  }
  .wrapper {
  text-align: center;

  }

  #login {
    margin-top: auto;
  }
}
