page-home {
  #titulo {
    font-style: italic;
    }
  #btn {
    width: 200px;
    border-radius: 7px;
    }
  #cab {

  }
  #corpo {
    margin-top: 50%;

  }
  #login {
    margin-top: auto;
  }
}
