page-home {
  #titulo {
    font-style: italic;
    text-align: center;
    }
  #btn {
    width: 50%;
    border-radius: 7px;
    }
  #cab {

  }
  #corpo {
    

  }
  .wrapper {
  text-align: center;

  }

  #login {
    margin-top: auto;
  }
}
